// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color:  #47bbb3;
$value-color:       #fff;

$title-color:       rgba(255, 255, 255, 0.7);
$moreinfo-color:    rgba(255, 255, 255, 0.7);

// ----------------------------------------------------------------------------
// Widget-number styles
// ----------------------------------------------------------------------------
.widget-number {

  background-color: $background-color;

  .title {
    color: $title-color;
    font-size: 2em;
  }

  .value {
    color: $value-color;
    font-size: 3em;
  }

  .change-rate {
    font-weight: 400;
    font-size: 1em;
    color: $value-color;
  }

  i {
    padding-right: 0.5em;
  }

  .more-info {
    color: $moreinfo-color;
    padding-bottom: 1em;
    font-size: 1em;
  }

  .updated-at {
    color: rgba(255, 255, 255, 0.7);
  }

}
