// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------

$title-color:       rgba(255, 255, 255, 0.7);
$moreinfo-color:    rgba(255, 255, 255, 0.7);

// ----------------------------------------------------------------------------
// Widget-text styles
// ----------------------------------------------------------------------------
.widget-beat-time {

  .title {
    color: $title-color;
    font-size: 1.5em;
  }

  h1 {
    font-size: 2em;
  }

  .more-info {
    color: $moreinfo-color;
    font-size: 1em;
  }

}
