<% content_for(:title) { "Countdowns" } %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-view="Countdown" data-title="" data-end="" style="background-color: #01579b;"></div>
    </li>
    <li data-row="1" data-col="2" data-sizex="1" data-sizey="1">
      <div data-view="Countdown" data-title="" data-end="" style="background-color: #0288d1;"></div>
    </li>
    <li data-row="1" data-col="3" data-sizex="1" data-sizey="1">
      <div data-view="Countdown" data-title="" data-end="" style="background-color: #03a9f4;"></div>
    </li>
    <li data-row="1" data-col="4" data-sizex="1" data-sizey="1">
      <div data-view="Countdown" data-title="" data-end="" style="background-color: #4fc3f7;"></div>
    </li>
  </ul>
</div>
