<% content_for(:title) { "Crypto" } %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="btcprice" data-view="Number" data-title="BTC" data-moreinfo="USD" style="background-color:#3e2723;"></div>
    </li>
    <li data-row="1" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="ethprice" data-view="Number" data-title="ETH" data-moreinfo="USD" style="background-color:#5d4037;"></div>
    </li>
    <li data-row="1" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="liteprice" data-view="Number" data-title="LTC" data-moreinfo="USD" style="background-color:#795548;"></div>
    </li>
    <li data-row="1" data-col="4" data-sizex="1" data-sizey="1">
      <div data-id="batprice" data-view="Number" data-title="BAT" data-moreinfo="USD" style="background-color:#a1887f;"></div>
    </li>
  </ul>
</div>
