<% content_for(:title) { "Fuel Prices" } %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="fuelprice-holtankoljak" data-view="Number" data-title="holtankoljak" data-moreinfo="HUF" style="background-color:#ff6f00;"><!-- Amber 900 --></div>
    </li>
    <li data-row="1" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="fuelprice-vasarlocsapat" data-view="Number" data-title="vasarlocsapat" data-moreinfo="HUF" style="background-color:#ffa000;"><!-- Amber 700 --></div>
    </li>
    <li data-row="2" data-col="4" data-sizex="1" data-sizey="1">
      <div data-view="localTime" data-title="Local Time" style="background-color: #37474f;"><!-- BlueGrey 800 --></div>
    </li>
  </ul>
</div>
<!-- Colors are from https://www.materialpalette.com/colors -->
<!-- Amber 900: #ff6f00 -->
<!-- Amber 800: #ff8f00 -->
<!-- Amber 700: #ffa000 -->
<!-- Amber 600: #ffb300 -->
<!-- Amber 500: #ffc107 -->
<!-- Amber 400: #ffca28 -->
<!-- Amber 300: #ffd54f -->
<!-- Amber 200: #ffe082 -->
<!-- Amber 100: #ffecb3 -->
<!-- Amber 50: #fff8e1  -->
