<% content_for(:title) { "Quotes" } %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="4" data-sizey="1">
      <div data-id="Quotes" data-view="Quotes" style="background-color:#00796b;"></div>
    </li>
  </ul>
</div>
