<% content_for(:title) { "Quotes" } %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="4" data-sizey="1">
      <div data-id="QuotesLocal" data-view="QuotesLocal" style="background-color:#00796b;"><!-- Teal 700 --></div>
    </li>
    <li data-row="2" data-col="4" data-sizex="1" data-sizey="1">
      <div data-view="localTime" data-title="Local Time" style="background-color: #37474f;"><!-- BlueGrey 800 --></div>
    </li>
  </ul>
</div>
<!-- Colors are from https://www.materialpalette.com/colors -->
<!-- Teal 900: #004d40 -->
<!-- Teal 800: #00695c -->
<!-- Teal 700: #00796b -->
<!-- Teal 600: #00897b -->
<!-- Teal 500: #009688 -->
<!-- Teal 400: #26a69a -->
<!-- Teal 300: #4db6ac -->
<!-- Teal 200: #80cbc4 -->
<!-- Teal 100: #b2dfdb -->
<!-- Teal 50: #e0f2f1  -->
