<% content_for(:title) { "Exchange Rates" } %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="usdprice" data-view="Number" data-title="USD" data-subtitle="Federal Reserve (Fed)" data-moreinfo="HUF" style="background-color:#1b5e20;"><!-- Green 900 --></div>
    </li>
    <li data-row="1" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="eurprice" data-view="Number" data-title="EUR" data-subtitle="European Central Bank (ECB)" data-moreinfo="HUF" style="background-color:#388e3c;"><!-- Green 700 --></div>
    </li>
    <li data-row="1" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="gbpprice" data-view="Number" data-title="GBP" data-subtitle="Bank of England (BoE)" data-moreinfo="HUF" style="background-color:#4caf50;"><!-- Green 500 --></div>
    </li>
    <li data-row="1" data-col="4" data-sizex="1" data-sizey="1">
      <div data-id="chfprice" data-view="Number" data-title="CHF" data-subtitle="Swiss National Bank (SNB)" data-moreinfo="HUF" style="background-color:#81c784;"><!-- Green 300 --></div>
    </li>
    <li data-row="2" data-col="4" data-sizex="1" data-sizey="1">
      <div data-view="localTime" data-title="Local Time" style="background-color: #37474f;"><!-- BlueGrey 800 --></div>
    </li>
  </ul>
</div>
<!-- Colors are from https://www.materialpalette.com/colors -->
<!-- Green 900: #1b5e20 -->
<!-- Green 800: #2e7d32 -->
<!-- Green 700: #388e3c -->
<!-- Green 600: #43a047 -->
<!-- Green 500: #4caf50 -->
<!-- Green 400: #66bb6a -->
<!-- Green 300: #81c784 -->
<!-- Green 200: #a5d6a7 -->
<!-- Green 100: #c8e6c9 -->
<!-- Green 50: #e8f5e9  -->
