<% content_for(:title) { "Exchange Rates" } %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="btcprice" data-view="Number" data-title="BTC" data-moreinfo="USD" style="background-color:#2980b9;"></div>
    </li>
    <li data-row="1" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="ethprice" data-view="Number" data-title="ETH" data-moreinfo="USD" style="background-color:#2980b9;"></div>
    </li>
    <li data-row="1" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="liteprice" data-view="Number" data-title="LTC" data-moreinfo="USD" style="background-color:#2980b9;"></div>
    </li>
    <li data-row="1" data-col="4" data-sizex="1" data-sizey="1">
      <div data-id="fuelprice-holtankoljak" data-view="Number" data-title="holtankoljak" data-moreinfo="HUF" style="background-color:#2980b9;"></div>
    </li>
    <li data-row="2" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="usdprice" data-view="Number" data-title="USD" data-moreinfo="HUF" style="background-color:#2980b9;"></div>
    </li>
    <li data-row="2" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="eurprice" data-view="Number" data-title="EUR" data-moreinfo="HUF" style="background-color:#2980b9;"></div>
    </li>
    <li data-row="2" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="gbpprice" data-view="Number" data-title="GBP" data-moreinfo="HUF" style="background-color:#2980b9;"></div>
    </li>
    <li data-row="2" data-col="4" data-sizex="1" data-sizey="1">
      <div data-id="fuelprice-vasarlocsapat" data-view="Number" data-title="vasarlocsapat" data-moreinfo="HUF" style="background-color:#2980b9;"></div>
    </li>
  </ul>
</div>
