<% content_for(:title) { "Exchange Rates" } %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
				<div data-id="btcprice" data-view="Btcprice" data-prefix="$"></div>
		</li>
    <li data-row="1" data-col="2" data-sizex="1" data-sizey="1">
				<div data-id="ethprice" data-view="Ethprice" data-prefix="$"></div>
		</li>
    <li data-row="1" data-col="3" data-sizex="1" data-sizey="1">
        <div data-id="liteprice" data-view="Liteprice" data-prefix="$"></div>
    </li>
  </ul>
</div>
