<% content_for(:title) { "Exchange Rates" } %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="usdprice" data-view="Number" data-title="USD" data-moreinfo="HUF" style="background-color:#1b5e20;"></div>
    </li>
    <li data-row="1" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="eurprice" data-view="Number" data-title="EUR" data-moreinfo="HUF" style="background-color:#388e3c;"></div>
    </li>
    <li data-row="1" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="gbpprice" data-view="Number" data-title="GBP" data-moreinfo="HUF" style="background-color:#4caf50;"></div>
    </li>
    <li data-row="1" data-col="4" data-sizex="1" data-sizey="1">
      <div data-id="chfprice" data-view="Number" data-title="CHF" data-moreinfo="HUF" style="background-color:#81c784;"></div>
    </li>
  </ul>
</div>
