<% content_for(:title) { "Exchange Rates" } %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="btcprice" data-view="Btcprice" data-prefix="$"></div>
    </li>
    <li data-row="1" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="ethprice" data-view="Ethprice" data-prefix="$"></div>
    </li>
    <li data-row="1" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="liteprice" data-view="Liteprice" data-prefix="$"></div>
    </li>
    <li data-row="1" data-col="4" data-sizex="1" data-sizey="1">
      <div data-id="fuelprice-holtankoljak" data-view="Fuelprice_holtankoljak"></div>
    </li>
    <li data-row="2" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="usdprice" data-view="Usdprice"></div>
    </li>
    <li data-row="2" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="eurprice" data-view="Eurprice"></div>
    </li>
    <li data-row="2" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="gbpprice" data-view="Gbpprice"></div>
    </li>
  </ul>
</div>
