<% content_for(:title) { "Time" } %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="4" data-sizey="1">
      <div data-view="WorldClock" class="widget-world-clock" style="background-color: #263238;"><!-- BlueGrey 900 --></div>
    </li>
    <li data-row="2" data-col="1" data-sizex="1" data-sizey="1">
      <div data-view="TimeLocal" data-title="Local Time" style="background-color: #37474f;"><!-- BlueGrey 800 --></div>
    </li>
    <li data-row="2" data-col="2" data-sizex="1" data-sizey="1">
      <div data-view="TimeUTC" data-title="UTC Time" style="background-color: #455a64;"><!-- BlueGrey 700 --></div>
    </li>
    <li data-row="2" data-col="3" data-sizex="1" data-sizey="1">
      <div data-view="TimeUnix" data-title="Unix Time" style="background-color: #546e7a;"><!-- BlueGrey 600 --></div>
    </li>
    <li data-row="2" data-col="4" data-sizex="1" data-sizey="1">
      <div data-view="TimeInternet" data-title="Internet Time" style="background-color: #607d8b;"><!-- BlueGrey 500 --></div>
    </li>
  </ul>
</div>
<!-- Colors are from https://www.materialpalette.com/colors -->
<!-- BlueGrey 900: #263238 -->
<!-- BlueGrey 800: #37474f -->
<!-- BlueGrey 700: #455a64 -->
<!-- BlueGrey 600: #546e7a -->
<!-- BlueGrey 500: #607d8b -->
<!-- BlueGrey 400: #78909c -->
<!-- BlueGrey 300: #90a4ae -->
<!-- BlueGrey 200: #b0bec5 -->
<!-- BlueGrey 100: #cfd8dc -->
<!-- BlueGrey 50: #eceff1  -->
