<% content_for(:title) { "Time" } %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="4" data-sizey="1">
      <div data-view="WorldClock" class="widget-world-clock" style="background-color: #263238;"></div>
    </li>
    <li data-row="2" data-col="2" data-sizex="1" data-sizey="1">
      <div data-view="UTCTime" data-title="UTC Time" style="background-color: #455a64;"></div>
    </li>
    <li data-row="2" data-col="3" data-sizex="1" data-sizey="1">
      <div data-view="UnixTime" data-title="Unix Time" style="background-color: #90a4ae;"></div>
    </li>
    <li data-row="2" data-col="4" data-sizex="1" data-sizey="1">
      <div data-view="BeatTime" data-title="Internet Time" data-moreinfo=".beat" style="background-color: #b0bec5;"></div>
    </li>
  </ul>
</div>
