<% content_for(:title) { "World Clock and Countdowns" } %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="4" data-sizey="1">
      <div data-view="WorldClock" class="widget-world-clock" style="background-color: #263238;"></div>
    </li>
    <li data-row="2" data-col="1" data-sizex="1" data-sizey="1">
      <div data-view="Countdown" data-title="" data-end="" style="background-color: #78909c;"></div>
    </li>
    <li data-row="2" data-col="2" data-sizex="1" data-sizey="1">
      <div data-view="Countdown" data-title="" data-end="" style="background-color: #546e7a;"></div>
    </li>
    <li data-row="2" data-col="3" data-sizex="1" data-sizey="1">
      <div data-view="UnixTime" data-title="Unix Time" style="background-color: #37474f;"></div>
    </li>
    <li data-row="2" data-col="4" data-sizex="1" data-sizey="1">
      <div data-view="BeatTime" data-title="Internet Time" data-moreinfo=".beat" style="background-color: #546e7a;"></div>
    </li>
  </ul>
</div>
