<% content_for(:title) { "World Clock" } %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="4" data-sizey="1">
      <div data-view="WorldClock" class="widget-world-clock" style="background-color: #263238;"></div>
    </li>
    <li data-row="2" data-col="1" data-sizex="1" data-sizey="1">
      <div data-view="Countdown" data-title="" data-end="" style="background-color: #78909c;"></div>
    </li>
  </ul>
</div>
