// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color:  #dc5945;

$title-color: rgba(255, 255, 255, 1);
$before-moreinfo-color: rgba(255, 255, 255, 0.6);
$moreinfo-color: rgba(255, 255, 255, 0.8);

// ----------------------------------------------------------------------------
// Widget-clock styles
// ----------------------------------------------------------------------------
.widget-countdown {

  background-color: $background-color;

  h1 {
    color: $title-color;
    font-size: 1.5em;
    font-weight: normal;
    text-transform: none;
  }

  .countdown-time {
    font-size: 2em;
    margin-top: 10px;
    color: gold;
  }

  .before-more-info {
    color: $before-moreinfo-color;
    font-size: 0.8em;
    position: absolute;
    bottom: 60px;
    left: 0;
    right: 0;
  }

  .more-info {
    color: $moreinfo-color;
  }

}
